.outer-header {
  background-color: rgb(20,20,20,0.9);
  height: 10vh;
  color: white;
  display: flex;              
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;  
}

.logo img {
  height: 60px;   
  cursor: pointer;           
}
/**/
.right-side {
  display: flex;
  align-items: center;
  gap: 20px;                 
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}
button {
  background:red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}
button:hover{
    background-color: rgb(249, 75, 75);
}
/**/
.language-select {
  min-width: 100px;
  height: 7vh;
  border: 1px,white,solid;
  color: white !important;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 9px; 
}

.language-select svg{
  color: white !important;
}

.menu-icon {
  font-size: 3px;
  color:white; 
}

