.netflix-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 70px;
    height: 100vh;
}
.banner-img{
 
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    height: 100%;
}
.netflix-moto{
    margin-top: 6em ;
}
.netflix-moto h1{
    font-size: 3.5rem;
    margin: 0.1em 0;
    font-weight: bold;
}
.netflix-title >p{
    font-size: 1.4rem;
    margin: 0.9em 0;
    font-weight: bold;
}
.signin-btn{
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.signin-btn input{
    flex: 1;
    background-color: rgba(20, 20, 20,0.3);
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    min-height: 50px;
    min-width: 400px;
    border-radius: 3px;
    color:rgba(255, 255, 255, 0.7);
    border: 1px,solid,rgba(255, 255, 255, 0.7);
}
.signin-btn button{
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-height: 60px;
    min-width: 200px;
    padding: 0 30px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background 0.3s;
}
.signin-btn button:hover {
    background-color: #f40612;
}

@media (max-width: 768px) {
  .netflix-moto h1 {
    font-size: 2.2rem;
  }
  .netflix-title > p {
    font-size: 1rem;
  }
  .signin-btn button {
    font-size: 1.2rem;
    min-height: 50px;
  }
}