
.reasons-list {
    display: flex;
    max-width: 80%;
    justify-content: center;
    margin: auto;
}
.reason-card-outer>h2{
    margin-left: 10%;
}

.reason-card {
    flex-wrap: wrap; 
    margin: 25px 10px;
    background-color: aliceblue;
    background: linear-gradient(
    180deg,
    #1d2336 0%,
    #111526 40%,
    #150a17 75%,
    #0d0105 100%
);

    border-radius: 10px;
    width: 300px;
    min-height: 320px;      
    position: relative;    
}

.reason-content {
    padding: 15px;
}

.reason-content h2 {
    padding: 10px 0;
    color: white;
}

.reason-content p {
    color: rgb(144, 144, 144);
}

.reason-icon {
    position: absolute;
    bottom: 20px;           
    right: 20px;
}

.reason-icon svg {
    font-size: 4rem;
    color: #8b2156;
    filter: drop-shadow(0px 0px 12px rgba(104, 26, 72, 0.7));         
}
.Downlod-icon{
    border-radius: 50%;
    background: linear-gradient( rgba(229, 128, 187, 0.7),#ea70ad);
    filter: drop-shadow(0px 0px 12px rgba(211, 46, 142, 0.7));
}